/* UTILITY */
:root {
	--color-white: #ffffff;
	--color-bggrey: #f6f6f6;
	--color-headerblue: #255ee9;
	--color-secondarypurple: #7289da;
	--color-dsblack: #23272a;
}

.debug{
    border: 1px solid red;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

ul{
    list-style: none;
}


.autocenter{
    max-width: 1200px;
    margin: auto;
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.button{
    font-size: 0.8em;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: 500;
    margin: 5px 10px;
    font-weight: bold;
}

.button:hover{
    box-shadow: -5px 5px 10px rgb(53, 53, 53);
}

body{
    font-family: 'Pontano Sans', sans-serif;
    /* background-color: var(--color-bggrey); */
    font-weight: 500;
}

/* HEADER */
header{
    background-color: var(--color-headerblue);
    color: white;
    padding-top: 10px;
}

header li{
    padding: 0px 20px;
}

.hero-background{
    min-height: 650px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-info{
    min-width: 1000px;
}

.welcome-info{
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
}

.welcome-info h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/* BUTTONS WELCOME INFO */

.btn-white{
    color: black;
    background-color: white;    
}

.btn-black{
    color: rgb(255, 255, 255);
    background-color: var(--color-dsblack);
}

.btn-white i{
    font-size: 0.8em;
}

/* MAIN */
main section, .bg-grey{
    /* min-height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    line-height: 30px;
    font-size: 1.2em;
}
 main h2{
    font-size: 2.6em;
    margin-bottom: 30px;
    line-height: 1.2em;
    font-weight: 800;
 }

.caption{
    margin-top: 30px;
    max-width: 400px;
}

main section:nth-child(even){
    background-color: var(--color-bggrey);
    padding: 50px 0px;
}

#center-last-section{
    max-width: 80%;
}

main section:last-child{
    align-items: center;
    flex-flow: nowrap column;
    text-align: center;
    padding-bottom: 100px;
}


/* LAST SECTION */
.mfoot{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 17%;

}
.mfoot h4{
    margin: 40px 0px;
}
.btn-purple{
    background-color: var(--color-secondarypurple);
}

.btn-purple i{
    padding: 4px;
}

/* FOOTER */
.bg-black{
    background-color: var(--color-dsblack);
}

footer{
    color: white;
    min-height: 600px;
}

footer ul{
    flex-flow: wrap column;
}

footer ul:nth-child(4){
    background-color: red;
    align-self: flex-start;
}

.social-box i{
    padding: 10px;    
}

li{
    margin: 30px;
}

footer li:first-child, .social-box h3{
    color: var(--color-secondarypurple);
    font-weight: bold;
}

.social-box h3{
    font-size: 2em;
}

.footer-top{
    border-bottom: 2px solid var(--color-secondarypurple);
}

.footer-bottom{
    padding: 10px;
}
