/* UTILITY */
:root {
	--color-white: #ffffff;
	--color-bggrey: #f6f6f6;
	--color-headerblue: #255ee9;
	--color-secondarypurple: #7289da;
	--color-dsblack: #23272a;
}

.debug{
    border: 1px solid red;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
}

.footer-d-flex{
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between; 
    align-items: flex-start;
    /* align-content: space-evenly;  */
}

ul{
    list-style: none;
}


.autocenter{
    max-width:1200px;
    margin: auto;
}

.maincenter{
    max-width:1000px;
    margin: auto;
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.button{
    font-size: 0.8em;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: 500;
    /* margin: 5px 10px; */
    font-weight: bold;
}

.button:hover{
    box-shadow: -5px 5px 10px rgb(53, 53, 53);
}

body{
    font-family: 'Pontano Sans', sans-serif;
    /* background-color: var(--color-bggrey); */
    font-weight: 500;
}

/* HEADER */
header{
    background-color: var(--color-dsblack);
    color: white;
    padding-top: 10px;
    /* margin-bottom: 100px; */
}

header li{
   font-weight: bold;
}

#button-login{
    font-size: 1.2em;
    font-weight: 400;
}
 
/* .hero-background{
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-info{
    min-width: 1000px;
}

.welcome-info{
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
}

.welcome-info h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.welcome-info p{
    padding-bottom: 20px;
} */

/* BUTTONS WELCOME INFO */

.btn-white{
    padding: 10px 20px;
    color: black;
    background-color: white;    
  /*   padding: 8px 10px; */
}

.btn-black{
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: var(--color-dsblack);
}

.btn-white i{
    font-size: 0.8em;
}

/* /* MAIN */
main section{
    /* min-height: 300px; */
    display: flex;
    /* align-items: center; */
    align-items: space-between;
    /* margin-top: 100px; 
    line-height: 30px;
    font-size: 1.2em; */
}



main h2{
    font-size: 2.5em;
    margin-bottom: 30px;
    line-height: 1.2em;
    font-weight: bold;
}

.box-image{
    width: 65%;
}

.caption{
    padding-left: 20px;
    margin-top: 30px;
    max-width:35%;
}

.even{
    background-color: var(--color-bggrey);
    /* padding-bottom: 100px; */
}

#center-last-section{
    max-width: 80%;
}

main section:last-child{
    align-items: center;
    flex-flow: nowrap column;
    text-align: center;
    padding-bottom: 100px;
}
.wave{
    /* margin-top: 100px; */
    width: 100%;
    opacity: 0.03;
}
.wave img{
    display: block;
    width: 100%;
}

.m-bottom{
    padding: 100px 0px;
}

.wave-reverse img{
    transform: rotate(180deg);
}
/* LAST SECTION */
.mfoot{
    /* font-size: 1.5em; */
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 17%;

}
.mfoot h4{
    margin: 40px 0px;
}
.btn-purple{
    background-color: var(--color-secondarypurple);
}

.btn-purple i{
    padding: 4px;
}

/* FOOTER */
.bg-black{
    background-color: var(--color-dsblack);
}

footer{
    color: white;
    min-height: 600px;
    padding: 60px 0px;
}

/* footer ul{
    flex-flow: wrap column;
} */

/* footer ul:nth-child(4){
    background-color: red;
    /* align-self: flex-start; */

.social-box{
    /* align-self: stretch; */
    padding-top: 20px;
    padding-left: 20px;
}

.social-box i{
    padding-right:20px;
    padding-top: 20px;
    /* background-color: red; */
}

li{
    margin: 30px;
}

footer li:first-child, .social-box h3{
    color: var(--color-secondarypurple);
    font-weight: bold;
}

.social-box h3{
    font-size: 2em;
    padding-bottom: 15px;
}

.footer-top{
    border-bottom: 2px solid var(--color-secondarypurple);
    /* margin-bottom: 10px; */
}

.footer-bottom{
    padding: 10px 0px 30px 0;
    font-size: 1.3em;
}

option{
    background-image: url(../img/ita.png);
    display: block;
    text-indent:-9999em;
}
/* -----------------PAGINA DOWNLOAD  */
.hero-background{
    padding: 100px 0;
}

.welcome-info{
    width: 45%
}

.hero-image{
    width: 55%;
}

.hero-image img{
    width: 100%
} 

.n-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.align-items-between{
    align-items: space-between;
}

.jf-space-between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}


.hero-background{
    font-size: 1.3em;
    padding-bottom: 30px;
    word-spacing: 0.2em;
}

h1{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    line-height: 0.8;
    padding-bottom: 40px;
}

.hero-background p{
    padding-bottom: 30PX;
}

.box-button a{
    font-size: 1.1em;
 /* display: block; */
 margin-top: 10px;
}

.box-button span{
    margin: 15px 20px;
    font-size: 0.8em;
}



/* ---------------MAIN */
main{
    margin-top: 70px;
}

.bg-grey{
    background-color: grey;
    border-radius: 3%;
    width: 500px;
    height: 550px;
    margin: 0 auto;
}

.box-main-info{
    padding-top: 30px;
    text-align: center;
}

.box-main-image{
    display: block;
    padding-top: 50px;
    overflow: hidden;
}

.box-main-image img{
    max-width: 100%;
    object-fit:fill;
}

.bg-grey a{
    font-size: 1.3em;
}

main section:nth-child(2){
    margin-top: 10%;
}

